---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Content from '../components/Content.astro';
import Masthead from '../components/Masthead.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[60px]">
			<Masthead/>
			<Content>
				<section>
					<p class="text-center text-4xl p-2 font-bold">
						404 <a class="text-sky-500">Not Found</a>
					</p>
					<p class="mb-6 text-center text-2xl p-2 font-semibold">
						Oops, something went wrong, back to <a class="underline text-sky-500" href="/blog">home</a>?
					</p>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
