---
import { IoChevronForward } from 'react-icons/io5/index.js'
---

<div class="mb-6 text-center text-lg p-2 flex items-center gap-1">
  <a href="/blog" class="underline underline-offset-2 font-semibold">Home</a>
  <IoChevronForward className="opacity-50" />
  <span class="text-sky-500 font-bold"><slot /></span>
</div>