---
import HeaderLink from './HeaderLink.astro';
import { IoLogoGithub } from 'react-icons/io5/index.js';
import GithubAvatarIcon from './icons/GithubAvatarIcon';
import ThemeToggle from './ThemeToggleButton';
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
			<h2 class="font-semibold p-2 font-mplus text-lg flex gap-1">
				<GithubAvatarIcon />NightFeather
			</h2>
			<div class="items-center gap-6 hidden md:flex">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/posts/6eb09e66-756e-44bd-903b-856aa6025a22">About</HeaderLink>
				<HeaderLink href="https://github.com/NightFeather0615" target="_blank"><IoLogoGithub /> GitHub</HeaderLink>
			</div>
			<div class="flex-1"></div>
			<ThemeToggle client:load />
		</nav>
	</div>
</header>